@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0, 0, 0, 0.15);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    min-height: 100vh;
    /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */
    background: url('/Assets/bg-01.png');
    background-position: center;
    background-size: cover;
    animation: storyjelly .5s 1s infinite;
    overflow: hidden;
}

body.active {
    animation: bass .5s .5s infinite;
    background: url('/Assets/music.mp4');
    background-size: cover;
    background-repeat: no-repeat;
}


@keyframes bass {
    0% {
        transform: scale(101%);
    }

    100% {
        transform: scale(99%);
    }
}

.input-song,
.wrapper {
    height: 606px;
    width: 360px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: #ffffffe0;
    box-shadow: 0px 6px 15px var(--lightbshadow);
}

.wrapper i {
    cursor: pointer;
}

.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    font-size: 30px;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-bar i:first-child {
    margin-left: -7px;
}

.top-bar span {
    font-size: 18px;
    margin-left: -3px;
    color: var(--lightblack);
}

.img-area {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--lightbshadow);
}

.img-area .lyric {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    background-color: #ffffffc9;
    padding: .5rem;
    font-size: 14px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 0  0 .9rem .9rem;
}

.lyric::-webkit-scrollbar {
    height: 0.3rem;
    width: .1rem;
}

.lyric::-webkit-scrollbar-track {
    background-color: transparent;
}

.lyric::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.img-area.active {
    border-radius: 50%;
    height: 270px;
    width: 270px;
    margin: 25px auto 0;
    animation: play 30s linear infinite;
}


@keyframes play {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-details {
    text-align: center;
    margin: 30px 0;
}

.song-details p {
    color: var(--lightblack);
}

.song-details .name {
    font-size: 21px;
}

.song-details .artist {
    font-size: 18px;
    opacity: 0.9;
    line-height: 35px;
}

.progress-area {
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.progress-area .timer {
    margin-top: 2px;
}

.timer span {
    font-size: 13px;
    color: var(--lightblack);
}

.controls {
    margin: 40px 0 5px 0;
}

.controls i {
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls .play-pause:hover{
    animation: play 2s linear infinite;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}

.controls .play-pause {
    height: 54px;
    width: 54px;
    background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
    box-shadow: 0 0 5px var(--pink);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.controls .play-pause::before {
    content: '';
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}

.controls .play-pause i {
    position: relative;
    height: 42px;
    width: 42px;
    line-height: 42px;
    border-radius: inherit;
    background: inherit;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-list {
    position: absolute;
    background: var(--white);
    width: 100%;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-out;
}

.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.header .row {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
}

.header .row i {
    cursor: default;
}

.header .row span {
    margin-left: 5px;
}

.header #close {
    font-size: 22px;
    color: var(--lightblack);
}

.music-list ul {
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list ul li {
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--lightblack);
    border-bottom: 1px solid #E5E5E5;
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 17px;
}

.music-list ul li .row p {
    opacity: 0.9;
}

ul li .audio-duration {
    font-size: 16px;
}

ul li.playing {
    pointer-events: none;
    color: var(--violet);
}


.input-song {
    display: none;
}

.input-song.active {
    display: block;
}

.input-box {
    width: 100%;
    margin-top: 1.2rem;
}

.input-box label {
    display: block;
    font-size: 15px;
    color: var(--lightblack);
    margin-bottom: .3rem;
}

.input-box input {
    width: 100%;
    height: 2.1rem;
    outline: none;
    border: none;
    border-radius: .6rem;
    padding: 1rem;
}

.input-box #image-link,
.input-box #media-link {
    width: 100%;
    outline: none;
    border: none;
    border-radius: .6rem;
    padding: 1rem;
}

.input-song .btn {
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    width: 9rem;
    text-align: center;
    border-radius: .5rem;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    color: #ffffff;
}